Options +FollowSymlinks
Options -Indexes
RewriteEngine on
Options -MultiViews

RewriteRule ^config.json$ / [F,L]
RewriteRule ^src\/ / [F,L]
RewriteRule ^vendor\/ / [F,L]
RewriteRule ^php-helper\/ / [F,L]

RewriteRule ^query\/(.+)$ /query.php?query=$1 [QSA,L]
RewriteRule ^(|)\/?$ /page.php?page=$1 [QSA,L]
