Options +FollowSymlinks
Options -Indexes
RewriteEngine on
Options -MultiViews

# Don't touch these three lines !
RewriteRule ^config.json$ / [F,L]
RewriteRule ^src\/ / [F,L]
RewriteRule ^vendor\/ / [F,L]

RewriteRule ^query\/(.+)$ /query.php?query=$1 [QSA,L]
RewriteRule ^static\/(.+)\.less\.css$ /static/less.php?path=$1 [L]
RewriteRule ^(|home)\/?$ /page.php?page=$1 [QSA,L]
