# This file is exported and pre-configured for working with 'common.php' file.
# Don't touch it if you want to use default routing system.

<IfModule rewrite_module>

    <IfModule negotiation_module>
        Options -MultiViews
    </IfModule>

    Options +FollowSymlinks
    Options -Indexes

    RewriteEngine on
    RewriteRule .* common.php [QSA,L]

</IfModule>